@import 'https://fonts.googleapis.com/css?family=Droid+Sans';

body > svg { display: none; }

button {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
