.top-bar {
  position: fixed;
  top:0; right: 0; bottom: 0; left: 0;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  background-color: rgb(255, 255, 255);
}

.footer {
  position: fixed;
  right: 0rem; top: 12rem;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, .85);
}
